[user]
	name = braydio
	email = chaffee.brayden@gmail.com
	password = Remington0323
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github"]
	cominsteadOf = https://github.com/
[pull]
	rebase = true
